.App {
  background-color: lightgray;
}

/*Header of the main page*/
.App-header {
  min-height: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  color: white;
  background-image: url('./background.jpg');
}

/*The element with the search bar*/
.App-search{
  min-height: 55vh;
  padding-top: 70px;
}

.App-footer{
  text-align: right; 
  padding-top: 70px;
}

.App-link {
  color: #61dafb;
}

/*The card cointaining the forecast/current weather data*/
.weather-widget{
  background-color: #2374c0;
  color: white;
  margin-top: 3em;
}

/*Row of buttons below the search bar*/
.buttonRow{
  margin-top: 1em;
}

/*Styles for the Button component*/
.App-button{
  background-color: #2374c0;
  color: white;
  border-radius: 2vh;
}

.inputBar{
  border-radius: 2vh;
}

/*Card containing the search bar*/
.searchCard{
  background-color: #2374c0;
  border-radius: 2vh;
}

/*Styling for the pinned data widgets*/
.pinnedWidgetRow{
  padding-top: 60px;
  padding-bottom: 10px;
  border-bottom: 3px solid grey; 
}

/*Styling for the PinButton component*/
.App-pinButton{
  background-color: lightgray;
  color: #2374c0;
  border-radius: 2vh;
}

.textSpan{
  padding-top: 0.6em;
  color: #2374c0;
}

.Loading-Element{
  color: #2374c0;
  font-style: bold;
}