.App {
  background-color: lightgray;
}

.App-header {
  min-height: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  color: white;
  background-image: url('./background.jpg');
}

.App-search{
  min-height: 55vh;
  padding-top: 70px;
}

.App-footer{
  text-align: right; 
  padding-top: 70px;
}

.App-link {
  color: #61dafb;
}

.weather-widget{
  background-color: #2374c0;
  color: white;
  margin-top: 3em;
}

.buttonRow{
  margin-top: 1em;
}

.App-button{
  background-color: #2374c0;
  color: white;
  border-radius: 2vh;
}

.inputBar{
  border-radius: 2vh;
}

::placeholder { 
  color: white;
  opacity: 1;
}

.searchCard{
  background-color: #2374c0;
  border-radius: 2vh;
}

.pinnedWidgetRow{
  padding-top: 40px;
}

.App-pinButton{
  background-color: lightgray;
  color: #2374c0;
  border-radius: 2vh;
}

.textSpan{
  padding-top: 0.6em;
  color: #2374c0;
}